.estado {
    color: white;
    letter-spacing: 4px;
    font-size: 40px;
    margin: 5% auto;
    text-align: center;
}

.juego {
    border: 1px solid black;
    background-image: linear-gradient(45deg, rgba(28, 41, 216, 0.198), rgba(1, 13, 70, 0.274)), url("https://cdn.pixabay.com/photo/2019/05/07/23/47/black-and-white-4187417_960_720.jpg");
    height: 137vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    clip-path: polygon(0px 0px, 100% 0px, 100.13% 122.67vh, 60.82vw 86.44%, -6px 127.19vh);
}

.fila::after {
    content: "";
    display: table;
    clear: both;
}

.cuadrado {
    width: 222px;
    height: 222px;
    font-size: 80px;
    float: left;
    background-image: linear-gradient(#333, #111);
    color: #fff;
    line-height: 36px;
    font-weight: 600;
    position: relative;
    border-radius: 20px;
    transition: all .05s;
    filter: blur()
}

.cuadrado::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 5px);
    height: 50%;
    border-radius: 8px;
    background-image: linear-gradient(rgba(128, 128, 128, 0.274), rgba(211, 211, 211, 0.233));
}

.cuadrado:hover {
    background-image: linear-gradient(#111, rgb(0, 0, 47));
    transform: translateY(-4px);
}

.cuadrado:active {
    background-image: linear-gradient(#111, rgb(4, 47, 0));
    transform: translateX(4px);
}

.informacion-juego{
    margin: 0 3px;
    color: #fff;
    font-size: 28px;
}

.fila:nth-child(1) .cuadrado:nth-child(1) {
       background-image: linear-gradient(rgb(70, 15, 15), #111);

}
.fila:nth-child(2) .cuadrado:nth-child(2) {
       background-image: linear-gradient(rgb(70, 15, 15), #111);

}
.fila:nth-child(3) .cuadrado:nth-child(2) {
    background-image: linear-gradient(rgb(15, 70, 18), rgb(70,15,15));
    

}

.fila:nth-child(1) .cuadrado:nth-child(2) {
    background-image: linear-gradient(rgb(15, 70, 18), #111);

}
.fila:nth-child(2) .cuadrado:nth-child(3) {
    background-image: linear-gradient(rgb(15, 70, 18), #111);

}
.fila:nth-child(3) .cuadrado:nth-child(2) {
    background-image: linear-gradient(rgb(15, 70, 18), #111);

}

.desc{
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.2rem 1.8rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: .8rem;
    color: #fff;
    font-weight: 600;
    background-image: linear-gradient(to right bottom,#333,#111 72%);

    
}

